.spon-header {
	width: 399px;
	height: 94px;
	color: #464646;
	font-family: "Raleway";
	font-size: 80px;
	font-weight: bold;
	margin-left: 753px;
	margin-top: -300px;
}

.spon-name {
	color: #464646;
	font-family: "Raleway";
	font-size: 50px;
	font-weight: 600;
}

.spon-media-div {
	display: flex;
	margin-left: 132px;
}

.spon-media-div2 {
	display: flex;
	margin-left: 132px;
	margin-top: 78px;
}
