.stat-header {
	color: #464646;
	width: 621px;
	height: 94px;
	font-size: 5vw;
	font-weight: bold;
	font-family: "Raleway";
	margin-top: 228px;
	margin-left: 650px;
}

.stat-box {
	width: 25vw;
	height: 30vh;
	background-color: #2f0ac3;
	border: 1px solid #707070;
	border-radius: 5vw;
	padding: 1vh 2vh 1vh 2vh;
	margin: auto;
}

.stat-row1 {
	display: flex;
	margin-top: 157px;
	font-family: "Raleway";
}

.stat-row2 {
	display: flex;
	margin-top: 98px;
	font-family: "Raleway";
}

.stat-number {
	font-weight: bold;
	color: white;
	font-size: 13vh;
	height: 13vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.stat-text {
	font-weight: 600;
	font-size: 55px;
	color: white;
}
.yellow {
	color: #efb822;
}
.grey-circle2 {
	width: 962px;
	height: 941px;
	background-color: rgba(206, 203, 216, 0.35);
	border-radius: 100%;
	margin-left: 1260px;
}

@media (max-width: 825px) {
	#statistics {
		position: relative;
		margin-top: -400px;
		padding-top: 400px;
	}
	.stat-header {
		width: 100vw;
		height: 50px;
		font-size: 45px;
		margin-top: 50px;
		margin-left: 0px;
	}
	.stat-box {
		width: 200px;
		height: 200px;
		background-color: #2f0ac3;
		border: 1px solid #707070;
		border-radius: 50px;
		margin-right: 99px;
		margin-top: 40px;
	}

	.stat-number {
		font-weight: bold;
		font-size: 60px;
		height: 165px;
	}

	.stat-text {
		font-weight: 600;
		font-size: 25px;
		margin-top: -80px;
	}

	.stat-full-screen {
		display: none;
	}

	.stat-mobile-screen {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 25%;
	}
}

@media (min-width: 826px) and (max-width: 1700px) {
	.stat-header {
		width: 100vw;
		height: 50px;
		font-size: 60px;
		margin-top: 50px;
		margin-left: 0px;
	}

	.stat-box {
		margin: auto;
	}
	.stat-row1,
	.stat-row2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "stat-box stat-box stat-box";
	}

	.stat-number {
		font-size: 80px;
	}

	.stat-text {
		font-size: 35px;
	}

	.stat-mobile-screen {
		display: none;
	}
}

@media (min-width: 1001px) {
	.stat-mobile-screen {
		display: none;
	}
}
