.speakers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Title section*/
.speakers-section-title {
}
/*Content section*/
.speakers-section-content {
}
.speakers-section-content-row {
}
/*Item section*/
.speakers-section-item {
}
.speakers-section-item-photo {
}
.speakers-section-item-text {
}
.speakers-section-item-text-name {
}
.speakers-section-item-text-subdescription {
}
.speakers-section-item-text-description {
}
