.th-header {
	color: #464646;
	font-size: 8vh;
	font-weight: bold;
	font-family: "Raleway";
	width: 100vw;
	height: 94px;
}

.grey-circle3 {
	width: 847px;
	height: 843px;
	border-radius: 100%;
	background-color: rgba(206, 203, 216, 0.35);
	margin-top: 177px;
	margin-left: -75px;
}

.grey-circle4 {
	width: 847px;
	height: 843px;
	border-radius: 100%;
	background-color: rgba(206, 203, 216, 0.35);
	margin-top: -400px;
	margin-left: 1303px;
}

.th-img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-left: 140px;
}

.th-text {
	color: #464646;
	font-family: "Raleway";
}

.name {
	font-size: 25px;
	font-weight: 600;
}

.descp {
	font-size: 25px;
	font-weight: medium;
	font-style: italic;
	margin-bottom: 86px;
}

.info {
	width: 60vw;
	text-align: justify;
	font-size: 2.5vh;
	font-weight: medium;
	margin-left: 100px;
}

.th-box-name-descp {
	width: 230px;
	height: 60px;
	margin-top: 16px;
	margin-left: 140px;
	margin-bottom: 86px;
}

@media (max-width: 500px) {
	#thoughts {
		position: relative;
		padding-top: 400px;
		margin-top: -350px;
	}

	.th-header {
		width: 100vw;
		height: 50px;
		font-size: 45px;
		margin-top: -950px;
		margin-left: 0px;
	}

	.th-img {
		width: 200px;
		height: 200px;
		border-radius: 100%;
		margin-left: 20px;
	}

	.th-text {
		margin-left: -130px;
	}

	.info {
		width: 320px;
		text-align: center;
		font-size: 20px;
		margin-left: 20px;
		margin-top: -40px;
	}

	.th-full-screen {
		display: none;
	}
}

@media (min-width: 1001px) {
	.info {
		position: absolute;
		top: 25%;
	}
	.th-mobile-screen {
		display: none;
	}
}

@media (min-width: 501px) and (max-width: 1000px) {
	.info {
		position: absolute;
		top: 25%;
	}
	.th-mobile-screen {
		display: none;
	}
	.th-header {
		width: 100vw;
		height: 50px;
		font-size: 60px;
		margin-top: -850px;
		margin-left: 0px;
	}

	.th-img {
		width: 200px;
		height: 200px;
		border-radius: 100%;
		margin-left: 20px;
	}

	.th-text {
		margin-left: -130px;
	}

	.info {
		width: 500px;
		text-align: center;
		font-size: 20px;
		margin-left: 20px;
		margin-top: -40px;
	}
}
