.wave-container2 {
	position: relative;
	width: 100%;
	height: 840px;
	background: #3b1ac9;
	margin-top: 109px;
	overflow: hidden;
	color: white;
	font-family: "Raleway", sans-serif;
}

.wave-text {
	padding-left: 141px;
	padding-top: 94px;
	text-align: left;
}

.wave-text1 {
	font-size: 23px;
	color: #f4cd57;
	font-weight: 600;
}

.wave-text2 {
	padding-top: 27px;
	color: #ededed;
	font-size: 60px;
	font-weight: normal;
	height: 70px;
}

.wave-text3 {
	height: 165px;
	font-size: 140px;
	font-weight: normal;
	color: #ededed;
	padding-right: 50px;
}

.wave-text4 {
	height: 165px;
	font-size: 140px;
	font-weight: bold;
	color: #efb822;
}

.wave-text5 {
	height: 52px;
	width: 707px;
	font-size: 22px;
	font-weight: normal;
	color: #ededed;
	padding-top: 27px;
}

.wave-button {
	width: 580px;
	height: 66px;
	background-color: #dc7241;
	border-radius: 38px;
	border: 1px solid #707070;
	color: white;
	font-weight: medium;
	font-size: 28px;
}

.wave-button:hover {
	background-color: #d75f28;
}

.wave-img {
	padding-left: 186px;
	width: 497px;
	height: 515px;
	padding-top: 110px;
}

.wave-session-full-screen {
	display: flex;
}

/* Waves styling and waves animations */

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../../Assets/wave.png);
	background-size: 1000px 100px;
}
.wave1 {
	animation: animate 30s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
}

.wave2 {
	animation: animate2 15s linear infinite;
	z-index: 999;
	opacity: 0.5;
	animation-delay: -5s;
	bottom: 10px;
}

.wave3 {
	animation: animate2 20s linear infinite;
	z-index: 998;
	opacity: 0.3;
	animation-delay: -2s;
	bottom: 15px;
}

@keyframes animate {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 1000px;
	}
}

@keyframes animate2 {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -1000px;
	}
}

@media (max-width: 500px) {
	.wave-text {
		padding-left: 30px;
		padding-top: 50px;
	}

	.wave-text1 {
		font-size: 18px;
	}

	.wave-text2 {
		font-size: 30px;
	}
	.wave-text3 {
		font-size: 90px;
		margin-top: -30px;
	}
	.wave-text4 {
		font-size: 90px;
		margin-top: -60px;
	}
	.wave-text5 {
		width: 92vw;
		margin-top: -60px;
	}

	.wave-button {
		margin-top: 100px;
		width: 85vw;
		height: 50px;
		font-size: 25px;
	}

	.wave-session-full-screen {
		display: none;
	}
}

@media (min-width: 501px) and (max-width: 1000px) {
	.wave-text {
		padding-left: 50px;
	}
	.wave-text3 {
		width: 499px;
		float: left;
	}

	.wave-text4 {
		width: 313px;
		float: right;
	}
	.wave-session-mobile-screen {
		display: none;
	}
}

@media (min-width: 1001px) {
	.wave-text3 {
		width: 499px;
		float: left;
	}

	.wave-text4 {
		width: 313px;
		float: right;
	}
	.wave-session-mobile-screen {
		display: none;
	}
}
